body, html {
    margin: 0;
    font-family: sans-serif;
    background-image: url("https://pixabay.com/get/g73e287f3f69b0f8baffc91c89872a00c4ea6f06fe23cc7095723ab54767d1279b35f10cf28fd5133fb2bb8ef699321c8_1920.jpg");

}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}