<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
<div class="footer">
    <div class="content">
        <p>Copyright &copy; 2021 ★彡[𝚒𝚐𝚗𝚘𝚛𝚎𝚌𝚛𝚘𝚠𝚍]彡★   
          <a href="mailto:mail@ignorecrowd.co.in" target="_blank" class="fa fa-envelope"> </a>
          <a href="https://github.com/ignorecrowd" target="_blank" class="fa fa-github"> </a> 
          <a href="https://www.instagram.com/ignorecrowd/" target="_blank" class="fa fa-instagram"> </a>  
          <a href="https://www.linkedin.com/in/rajarshisamaddar/" target="_blank" class="fa fa-linkedin"> </a>         
         </p>
    </div>
  </div>

</html>